.stepsHeader {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gridContainer {
    width: 100% !important;
    margin-left: 0px !important;
}
.itemContainer {
    padding-left: 0px !important;
}

.stepContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.header {
    // margin-bottom: 2%;
    margin-top: 2%;
    .title {
        font-size: 24px;
        font-weight: 400;
    }
}

.imageElement {
    min-height: 300px;
    min-width: 300px;
    padding: 0px !important;
}

//overrides
.gridItem {
    padding-left: 0px !important;
}

.formControl {
    width: 195px;
}

.carDetails {
    display: flex;
    flex-direction: row;
    gap: 2%;
}
