.stepsHeader{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.stepContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.pageContainer {
    // margin: 30px;
    height: 100%;

    .header {
        margin-bottom: 2%;
        margin-top: 2%;
        .title {
            font-size: 24px;
            font-weight: 400;
        }
    }
    
    .imageElement{
        min-height: 300px;
        min-width: 300px;
        //TODO center image when in mobile 
    }
}
.carDetails {
    display: flex;
    flex-direction: row;
    gap: 2%;
}