.stepsHeader{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pageContainer{
    height: 100%;
}

.stepContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.pageContainer {
    margin: 30px;
}