.linkProfile {
    color: blue !important;
}
.noDataContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .noDataImage {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .noDataLable {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
}
