.profileCard {
    margin-top: 20px;
    min-width: 30%;
    margin-bottom: 20px;
    // background-color: #a3d9ee !important;
    // opacity: 0.2;
    height: 250px;

    .customCard {
        padding: 0 16px 16px 16px;
    }

    .cardContent {
        .userInfoCardContent {
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .userInfoContainer {
                display: flex;
                flex-direction: column;
                justify-content: left;
                font-weight: 500;
                .textAlign {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                }
            }
        }
        .summaryContainer {
            display: flex;
        }
    }
}
