.customCard {
    margin-top: 20px;
    min-width: 30%;

    .carsCardContent {
        .centerTypo {
            display: flex;
            justify-content: center;
        }
        .check {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 3%;
        }
    }
}