.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.switch-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}